<div class="content-main gallery_main">
    <div class="gallery-main-inner">        
        <div class="col-md-12 gallery_title_main">
            <div class="gallery_title">
                <h3>GALLERY</h3>
                <h4>RESPONSIVE DESIGN</h4>
            </div>
        </div>
        <div id="content" class="gallery-images-container">
            <div class="grid" masonry>
                <div class="masonry-brick grid-item" ng-repeat="slide in slides" ng-click="openSlide($index)">
                    <img ng-src="{{slide.thumb}}">
                </div>
            </div>    
        </div>
        </div>               
        <div class="gallery-item-opened" ng-show="viewSlide" ng-click="closeSlide()">
            <div class="gallery-img-holder">
                <div class="gallery-inner">
                    <div class="gallery-img-holder-inner">
                        <span class="close-button">&#10006;</span>
                        <img ng-src="{{currentImg}}" style="max-height: {{maxHeight}}">
                        <span class="counter">{{index + 1}} of {{count}}</span>
                    </div>
                </div>                
            </div>            
            <span class="gallery-prev" ng-click="prev($event)"></span>
            <span class="gallery-next" ng-click="next($event)"></span>
        </div>
        <div class="row text-center view_more_main">
           <a href="#" class="btn view_more">view more</a>
        </div>        
    </div>
</div>

